<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenAI Q&A</title>
</head>

<body>
    <h1>GenAI Q&A</h1>
    <form id="askForm" action="/dschat" method="POST">
        {{ $t := .Stmp }}
        {{ $s := .SIselected }}
        {{ $m := .Qa.Modelname }}
        <label for="modelname">Model:</label>
        <select name="modelname">
            {{ range .Modellist }}
            <option value="{{.}}" {{ if eq $m . }}selected{{ end }}>{{ . }}</option>
            {{ end }}
        </select>

        {{ with .Qa }}
        <label for="maxtokens">Max Tokens:</label>
        <select name="maxtokens">
            <option value="150" {{ if eq .Maxtokens 150 }}selected{{ end }}>150</option>
            <option value="500" {{ if eq .Maxtokens 500 }}selected{{ end }}>500</option>
            <option value="1000" {{ if eq .Maxtokens 1000 }}selected{{ end }}>1000</option>
            <option value="1500" {{ if eq .Maxtokens 1500 }}selected{{ end }}>1500</option>
            <option value="2000" {{ if eq .Maxtokens 2000 }}selected{{ end }}>2000</option>
            <option value="3000" {{ if eq .Maxtokens 3000 }}selected{{ end }}>3000</option>
            <option value="5000" {{ if eq .Maxtokens 5000 }}selected{{ end }}>5000</option>
            <option value="10000" {{ if eq .Maxtokens 10000 }}selected{{ end }}>10000</option>
            <option value="20000" {{ if eq .Maxtokens 20000 }}selected{{ end }}>20000</option>
        </select>

        <label for="temperature">Temperature:</label>
        <select name="temperature">
            <option value="0.0" {{ if eq $t "0.0" }}selected{{ end }}>0.0</option>
            <option value="0.1" {{ if eq $t "0.1" }}selected{{ end }}>0.1</option>
            <option value="0.2" {{ if eq $t "0.2" }}selected{{ end }}>0.2</option>
            <option value="0.3" {{ if eq $t "0.3" }}selected{{ end }}>0.3</option>
            <option value="0.4" {{ if eq $t "0.4" }}selected{{ end }}>0.4</option>
            <option value="0.5" {{ if eq $t "0.5" }}selected{{ end }}>0.5</option>
            <option value="0.6" {{ if eq $t "0.6" }}selected{{ end }}>0.6</option>
            <option value="0.7" {{ if eq $t "0.7" }}selected{{ end }}>0.7</option>
        </select>

        <br>
        <label for="system">System Instruction:</label>
        <input type="radio" id="systemA" name="system" value="none" {{ if eq $s "none" }}checked{{ end }}>
        <label for="systemA">none</label>
        <input type="radio" id="systemB" name="system" value="Go" {{ if eq $s "Go" }}checked{{ end }}>
        <label for="systemB">Go</label>
        <input type="radio" id="systemC" name="system" value="ESP32" {{ if eq $s "ESP32" }}checked{{ end }}>
        <label for="systemC">ESP32</label>
        <input type="radio" id="systemD" name="system" value="Arduino" {{ if eq $s "Arduino" }}checked{{ end }}>
        <label for="systemD">Arduino</label>
        <input type="radio" id="systemE" name="system" value="OPi" {{ if eq $s "OPi" }}checked{{ end }}>
        <label for="systemD">OPi</label>
        {{/*
        <br><label for="system">編集:</label>
        <textarea id="system" name='system' style='width: 40em;' rows='1'>{{.System}}</textarea>
        */}}
        <br><label for="question">質問:</label>
        <textarea id="question" name='question' style='width: 40em;' rows='1'></textarea>
        <br><button type="submit">送信</button>
        {{ end }}
        <hr>
        検索対象: <textarea name="target" value="{{ .Target }}" rows='1' style='width: 30em;'>{{.Target}}</textarea> &nbsp; &nbsp; &nbsp; *
        <button type="submit">検索</button>
        <hr>
        <div>
            {{ if .HasPrevious }}
            <!-- 前へボタン -->
            <button type="submit" name="action" value="{{ .PreviousPage }}">前へ</button>
            {{ end }}
            {{ if .HasNext }}
            <!-- 次へボタン -->
            <button type="submit" name="action" value="{{ .NextPage }}">次へ</button>
            {{ end }}
        </div>


        <div>
            <table>
                {{ $i := 0 }}
                {{ range .Qalist }}
                <tr>
                    <td><input type="hidden" name=id{{$i}} value="{{.Id}}"></td>
                    <td>
                        id={{ .Id }}&nbsp;&nbsp;
                        modelname=<span style="color: {{ colorOfModel .Modelname }};">{{ .Modelname }}</span>&nbsp;&nbsp;
                        maxtokens={{ .Maxtokens }}&nbsp;&nbsp;
                        [{{ TimeToStringY .Timestamp }}&nbsp;({{ sprintfResponsetime "%5.1f" .Responsetime }}s)]&nbsp;&nbsp;*
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="checkbox{{$i}}" name="checkbox{{$i}}" style="margin-right: 10px;">
                        <input type="hidden" name="modelname{{$i}}" value="{{.Modelname}}">
                    </td>
                    <td>
                        <textarea id="question{{$i}}" name='question{{$i}}' style='width: 40em;' rows='1'
                            readonly>{{ .Question }}</textarea> &nbsp; &nbsp; &nbsp; 
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <textarea id="answer{{$i}}" name='answer{{$i}}' style='width: 40em;' rows='1'
                            readonly>{{ .Answer }}</textarea> &nbsp; &nbsp; &nbsp; 
                    </td>
                </tr>
                {{ $i = add $i 1 }}
                {{ end }}
            </table>
        </div>

        <div>


            {{ if .HasPrevious }}
            <!-- 前へボタン -->
            <button type="submit" name="action" value="{{ .PreviousPage }}">前へ</button>
            {{/*
            <a href="/dschat?page={{ .PreviousPage }}">前へ</a>
            */}}
            {{ end }}
            {{ if .HasNext }}
            <!-- 次へボタン -->
            <button type="submit" name="action" value="{{ .NextPage }}">次へ</button>
            {{/*
            <a href="/dschat?page={{ .NextPage }}">次へ</a>
            */}}
            {{ end }}
        </div>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>

</html>